

table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
}

thead, tfoot {
    color: white;
    background: #ab47bc;
    border: 1px solid #ddd; 
    border-radius: 10px 10px 0 0; 
}

th, td {
    text-align: left;
    padding: 16px;
}

tbody tr:nth-child(even) {
    background: #3d3c3c;
    border-radius: 10px 10px 0 0;
}

.input-container {
    margin-bottom: 10px;
    width: 200px;
    margin-right: 1000px; 
  }