html, body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title-postulantes {
  background-color: #666;
  /* Grey background */
  color: #fff;
  /* White text */
  padding: 5px 15px;
  /* Some padding for space */
  position: absolute;
  /* To position it slightly outside the .page */
  top: -15px;
  /* Position it 15px above the top of .page */
  left: 20px;
  /* Some space from the left */
  border-radius: 5px;
  /* Rounded corners */
  font-weight: bold;
  /* Bold font */
}

.postulantes {
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
  padding: 20px;
  width: 900px;
  border-radius: 2ch;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  position: center;
  align-items: center;
  top: 37%;
  left: 50%;
  transform: translateX(-50%);

  /* Lo coloca 20px a la derecha del borde derecho de la pantalla */
  /* // transform: translateY(-50%); */
  /* Corrige la posición vertical para centrarla */


  .postulante {
    background-color: #dbdbdb;
    padding: 20px;
    display: flex;
    border-radius: 2ch;
    margin-block-end: 20px;
    /* // width: 6; */


    .imgPostu {
      padding: 10px;
      align-items: center;

      img {
        height: 100px;
        border-radius: 10%;
      }
    }

    .info1 {
      width: 150px;
      height: 150px;
      padding: 10px;
      /* // display: flex;
          // flex-direction: column;
          // justify-content: space-between; */
      align-items: center;

      h3 {
        margin: 0;
      }
    }

    .info2g {
      align-items: center;
      display: flex;
      flex-direction: column;

      .info2 {
        display: flex;
        justify-content: space-between;

        .promedio,
        .VSA,
        .TipoPost {
          flex: 1;
          padding: 10px;
          display: flex;
          flex-direction: column;

          h4 {
            margin: 0;
          }
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        padding: 10px;
        margin-left: -10px;

        button {
          width: calc(100% - 5px);
          /* 50% de ancho con 5px de espacio entre botones */
          height: 100px;
          margin: 0 5px;

          /* Espacio horizontal entre botones */
          border-radius: 10px;
          border: none;
          background: linear-gradient(60deg, #26c6da, #00acc1);
          color: black;
          font-size: 20px;
          font-weight: bold;
          cursor: pointer;
          transition: background 0.6s ease;

          &:hover {
            background: #007a8e;
          }
        }
      }
    }
  }
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  padding: 0;
  background-image: url('../assets/fondoUSM.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #5e5353;
  text-align: center;

  button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;

    &:hover {
      background-color: #ff8c00;
    }
  }
}


.input-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #fffafa;
  }

  input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.password-help-text {
  margin-top: 20px;
  font-size: 12px;
  color: #d8d1d1;
  text-align: center;
}

/* // styles.scss */

.MT_g {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  position: relative;
  /* Cambia la posición a absoluta */
  top: -100px;
  /* Lo coloca en la mitad vertical de la pantalla */
  left: -5%;
  background-color: transparent;
  margin: 50px;

  .MT_img {
    position: relative;
    /* Cambia la posición a absoluta */
    top: 50px;
    /* Posición 20px por debajo de .MT_name */
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 150px;
      border-radius: 10px;
    }
  }

  .MT_name {
    background-color: #dbdbdb;
    width: 200px;
    height: 80px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* //   position: relative; Cambia la posición a relativa */
  }

  .MT_ramos {
    margin-block-start: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    padding: 10px;
    background-color: #dbdbdb;
    border-radius: 10px;

    button {
      width: 150px;
      height: 50px;
      margin: 0 5px;
      border-radius: 10px;
      border: none;
      background: linear-gradient(60deg, #26c6da, #00acc1);
      margin-block-end: 10px;
      color: black;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background: #007a8e;
      }
    }
  }
}

.nav-bar {
  display: flex;
  justify-content: center;
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
  margin-bottom: 20px;
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo-text {
  font-size: 24px;
  color: white;
  justify-content: left;
  margin-right: 20px;
}

.nav-bar__link {
  display: inline-block;
  margin-right: 15px;
  padding: 16px 20px;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  transition: all 1s ease;

  &--active {
    background: #7f00b2;
    color: white;

  }

  &:hover {
    background-color: #4a0072;
  }
}


.logout-button {
  background: linear-gradient(60deg, #26c6da, #00acc1);
  ;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 220px;
  transition: background 0.3s ease;

  &:hover {
    background: #007a8e;
  }
}

.page__title {
  font-size: 24pt;
}

.page {
  /* // background:; */
  border-radius: 5px;

  .Bar {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
  }

  .content {
    /* // background-color: #f0f0f0; */
    padding: 20px;
    margin: 20px;
    border-radius: 5px;

  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title-profile {
  background-color: #666;  /* Grey background */
  color: #fff;  /* White text */
  padding: 5px 15px;  /* Some padding for space */
  position: absolute;  /* To position it slightly outside the .page */
  top: -15px;  /* Position it 15px above the top of .page */
  left: 20px;  /* Some space from the left */
  border-radius: 5px;  /* Rounded corners */
  font-weight: bold;  /* Bold font */
}
.profile-header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 20px;
}
.profile {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative
}
.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 10%;
  margin-right: 20px;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.profile-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}

.stat {
  flex: 1;
  padding: 10px;
  background-color: white; 
  border-radius: 5px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05); 
}

.stat label, .motivation label, .courses label, .current-courses label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.motivation, .courses, .current-courses {
  background-color: white; 
  padding: 10px; 
  border-radius: 5px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05); 
  margin-bottom: 20px;
}

.courses ul, .current-courses ul {
  list-style-type: disc;
  margin-left: 20px;
}

.profile-actions {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.stat + .stat {
  margin-left: 10px;
}
